{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Book Detail</title>
</head>
<body>
    <div><img src="{% static 'sales/images/books-unsplash.jpg' %}" alt="home" class="background-image"></div>
    <ul>
        <li><a href ="{%url 'books:list' %}"> Books </a></li>
        <li><a href="{% url 'sales:records' %}">Records</a></li>
        <li><a href="{%url 'logout' %}">Logout</a></li>
    </ul>

<div class="page-wrapper">
<div class="main-content">
    <div class="book-card">
        <img src="{{object.pic.url}}" width="200" height="300" alt="">
        <div class="book-detail-container">
            <h2> {{object.name}}</h2>
            <p><b>Title: </b> {{object.name}}</p>
            <p><b>Author: </b> {{object.author_name}}</p>
            <p><b>Genre: </b> {{object.genre}}</p>
            <p><b>Book Type: </b> {{object.book_type}}</p>
            <p><b>Price: </b> {{object.price}} </p>
        </div>    
    </div>
</div>
    <footer>
        Photo by <a
            href="https://unsplash.com/@gulfergin_01?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            Gülfer ERGİN</a> on
        <a
            href="https://unsplash.com/photos/white-and-brown-book-on-brown-woven-surface-LUGuCtvlk1Q?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </footer>
    </div>
</body>
</html>


